[Service]
Type=notify
Restart=on-failure
Environment=args=%I
Environment=RCLONE_VFS_CACHE_MODE=full
Environment=RCLONE_SERVER_SIDE_ACROSS_CONFIGS=true
Environment=RCLONE_DRIVE_SERVER_SIDE_ACROSS_CONFIGS=true
ExecStartPre=sh -c 'umount $$1; mkdir -p $$1' $args
ExecStart=rclone mount $args
[Install]
WantedBy=default.target