[Service]
Type=forking
ExecStartPre=sh -c 'set -- %I; umount $$2; mkdir -p $$2'
ExecStart=sh -c 'mount -t rclone -o args2env,vfs-cache-mode=writes,drive-server-side-across-configs=true %I'
Restart=on-failure
[Install]
WantedBy=default.target