*.pyc
aur
Desktop
Documents
Downloads
go
Music
os
Pictures
Public
src
Sync
Templates
Videos
.cache/
.dotgit/
.gnupg/
.ipython/
.kde4/
.local/
.mozilla/
.npm/
.parallel/
.pki/
.ssh/
.subversion/
.vim/
.yarn/
.zsh/
