*.pyc
/aur
/Desktop
/Documents
/Downloads
/go
/Music
/os
/Pictures
/Public
/src
/Sync
/Templates
/Videos
/.cache/
/.dotgit/
/.gnupg/
/.ipython/
/.kde4/
/.mozilla/extensions
/.mozilla/firefox/*/
/.npm/
/.parallel/
/.pki/
/.ssh/
/.subversion/
/.vim/
/.yarn/
/.zsh/
/.envrc
