[Unit]
After=NetworkManager.service
BindsTo=NetworkManager.service
ConditionPathExists=/etc/wireguard/%I.conf

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/wireguard/
ExecStart=-nmcli connection delete %I
ExecStart=bash -c '{ until : >/dev/tcp/example.com/80; do sleep 1; done; } &>/dev/null'
ExecStart=wgcf update
ExecStart=wgcf generate -p %I.conf
ExecStart=nmcli connection import type wireguard file %I.conf
ExecStart=nmcli connection modify %I connection.autoconnect no
Restart=on-failure

[Install]
WantedBy=multi-user.target
